<footer class="mt-auto text-white-50">
  <p>© Copyright 2021 <a href="#" class="text-white">RGS Health Care</a> - All Rights Reserved  <br>
    Developers:
     Ritik Jain | Gourav Kumar | Sarthak Sharma</p>
     <a href="/AboutUs">About Us</a>
</footer>
