.myclass {
  background: #9ddfd3;
}

.Logout {
  float: right;
}

#myheader {
  background: #dbf6e9;
  float: left;
  width: 300px;
  display: none;
}
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Libre+Baskerville:ital@1&display=swap");
.myheading {
  font-family: "Indie Flower", cursive;
  font-family: "Libre Baskerville", serif;
  color: #0f4c75;
}
#user-image {
  border-radius: 3%;
  border: 2px solid #0f4c75;
}

.Mycontainer {
  margin: 5rem 3px;
  background:#f1f9f9;
  display: flex;
 
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(59, 58, 58, 0.856);
}
header {
  border: 2px solid #0f4c75;
  border-radius: 50px;
  margin: 4px;
  margin-top: 40px;
}

.myinput {
  display: flex;
  justify-content: space-around;
}
footer {
  margin-bottom: 0;
}

.Grid {
  margin-bottom: 0;
}

body {
  background-color: lightblue;
}

